.green-16 {
  background-image: url('/assets/green_16x16.png');
}

.green-32 {
  background-image: url('/assets/green_32x32.png');
}

.ms-16 {
  background-image: url('/assets/MS_16x16.png');
}

.ms-32 {
  background-image: url('/assets/MS_32x32.png');
}
